<div class="card">
    <div class="card-header">Modifier le Menu</div>
    <div class="card-body">
      <form (ngSubmit)="updatePlat()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" [(ngModel)]="plat.nom" name="nom" class="form-control" required><br>
        </div>
        <div class="form-group">
          <label for="statut">Calories</label>
          <input type="text" id="statut" [(ngModel)]="plat.calories" name="calories" class="form-control" required><br>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Mettre à jour</button>
      </form>
    </div>
  </div>