<div class="container mt-5">
  <h2>{{ isEditMode ? 'Modifier' : 'Ajouter' }} un Menu</h2>

  <form (ngSubmit)="saveMenu()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" [(ngModel)]="menu.nom" name="nom" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="statut">Statut</label>
      <input type="text" id="statut" [(ngModel)]="menu.statut" name="statut" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="menu.description" name="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="date_creation">Date de création</label>
      <input type="date" id="date_creation" [(ngModel)]="menu.date_creation" name="date_creation" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">{{ isEditMode ? 'Mettre à jour' : 'Ajouter' }} le menu</button>
  </form>
</div>
