<div class="menu-list">
  <h2 class="text-center my-4">Liste des Menus</h2>

  <div class="text-center mb-4">
    <button class="btn btn-secondary btn-lg" [routerLink]="'/menus/edit/0'">
      Ajouter un menu
    </button>
  </div>

  <div class="text-center mb-4">
    <select class="form-select w-auto d-inline" [(ngModel)]="selectedStatus">
      <option value="all">Tous les statuts</option>
      <option value="actif">Actif</option>
      <option value="inactif">Inactif</option>
    </select>
  </div>

  <ng-container *ngFor="let menu of menus">
    <div *ngIf="selectedStatus === 'all' || menu.statut === selectedStatus" class="menu-item mb-3">
      <app-menu-item [menu]="menu"></app-menu-item>
    </div>
  </ng-container>
