<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    
    <div class="navbar-brand">
      ButResto <i class="fa-solid fa-burger"></i>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" 
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/menus'" routerLinkActive="active">Menus</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
